/*///////////////////////////////////////////////////
//
//            ▼ 共通 ▼
//
///////////////////////////////////////////////////*/

.section_ttl {
	font-size: 33px;
	line-height: 1.6;
	text-align: center;
}

/*///////////////////////////////////////////////////
//
//            ▼ ナビ ▼
//
///////////////////////////////////////////////////*/
header{

	.header_in {
		padding: 0 20.7px 0 43.2px;
	}

	.logo {

		a {
			
			img {
				height: 32px;
			}
		}
	}

	nav{

		ul {

			li {

				a {
					padding: 0 13px;
				}
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ フッター ▼
//
///////////////////////////////////////////////////*/

footer {
	
	.footer_inner {
		display: block;

		ul {
			justify-content: flex-start;
	
			li {
	
				a {
					padding: 0 7px;
					font-size: 11px;
				}
			}
		}
	
		.copyright {
			font-size: 11px;
			margin-top: 15px;
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ トップ01 ▼
//
///////////////////////////////////////////////////*/

.top01 {

	.mv01,
	.mv02 {
    height: 352px;

    &::before {
			transform: translate(-60.4%, 0);
			// width: 100%;
      background-size: contain;
		}

    .txt {
      padding-top: 40px;

      h2 {
        font-size: 24.64px;

        .en {
					margin-top: -2px;
        }
      }

      p {
        font-size: 16.89px;
        margin-top: -14px;
      }
    }

    .cv_btn {
      margin-top: 28px;
    }
	}

	.mv01 {

    &::before {
			// left: -16%;
		}

		.mv01_inner {

			figure {
				width: 128px;
				top: 25px;
				right: -20px;
			}

			.txt {

				h2 {

					.en {
	
						svg {
							width: 552.6px;
						}
					}
				}
			}
		}
	}

	.mv02 {

		&::before {
			left: 500px;
			transform: translate(-71%, 0);
		}

		.mv02_inner {

			figure {
				width: 279px;
				top: 36px;
				left: -27px;
			}
		}

		.txt {

			h2 {

				.en {

					svg {
						width: 649px;
					}
				}
			}

			p {
				margin-top: 8px;
			}
		}

		.cv_btn {
			margin-top: 32px;
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ トップ02 ▼
//
///////////////////////////////////////////////////*/

.top02 {

  .center_txt {
    font-size: 16px;
    margin-top: 37.5px;
  }

  .table {
		gap: 0 38px;

    &:before {
			position: absolute;
			top: 77px;
			left: 0;
			content: "";
			width: 100%;
			height: 1px;
			background: #e1e2e3;
		}

		.table_item {

			&.th {
				font-size: 19.5px;
        margin-bottom: 20px;
			}

			&.normal {
				font-size: 16.5px;
			}

			&.td {
				font-size: 16.5px;
				height: 90px;

				a {
					height: 44px;
					font-size: 12.8px;

					.arrow {

            svg {
              width: 7.76px;
            }
					}
				}
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ トップ03 ▼
//
///////////////////////////////////////////////////*/

.top03 {
  height: 326.4px;
  padding: 30px 0;
	background-size: cover;

  .section_ttl {
    font-size: 22.4px;

    .en {
			margin-top: -19px;

			svg {
				width: 514.5px;
			}
    }
  }

  p {
    font-size: 15.36px;
		margin-top: -27px;
		line-height: 1.6;
  }

  .cv_btn {
    margin: 18px auto 0;
  }
}

/*///////////////////////////////////////////////////
//
//            ▼ トップ06 ▼
//
///////////////////////////////////////////////////*/

.top06 {

	ul {

		li {
      width: 300px;
			
			&:first-of-type {
				margin-right: 65px;
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ 下層共通 ▼
//
///////////////////////////////////////////////////*/

.lower_mv {
	height: 352px;

	&::before {
		background-size: contain;
	}

	.lower_mv_inner {

		.txt {
			padding-top: 40px;

			h1 {
				font-size: 22.4px;

				.en {
					margin-top: -7px;

					svg {
						width: 502.4px;
					}
				}
			}

			p {
				font-size: 22.4px;
				margin-top: -20px;

				.small {
					font-size: 15.26px;
				}
			}
		}

		.cv_btn {
			margin-top: 21px;
		}
	}
}

.lower_common01 {

	.box {
		gap: 0 48px;

		.item {

			h3 {
				font-size: 19.2px;
			}

			.txt {
				font-size: 14px;
			}
		}
	}
}

.lower_common02 {

	.section_ttl {
		
		img {
			width: 278.25px;
		}
	}

	h3 {
		font-size: 18px;
	}

	.txt01 {
		font-size: 15px;
	}

	.img_wrap {

		.figure_wrap {

			&:nth-of-type(1) {

				figure {
					top: -7px;
					left: -3px;
				}
				h4 {
					top: 0;
				}
			}

			&:nth-of-type(2) {

				figure {
					
					top: 6px;
					left: -17px;
				}

				h4 {
					top: 4px;
				}
			}

			&:nth-of-type(5) {

				figure {
					
					top: 14px;
					left: 0;
				}

				h4 {
					left: 6px;
				}
			}

			&:nth-of-type(5) {

				figure {
					
					top: 11px;
					left: 0;
				}
			}

			h4 {
				font-size: 13px;
			}
		}
	}

	.txt02 {
		font-size: 14px;
	}

	a {
		font-size: 14px;
	}
}

.lower_common03 {

	.txt01 {
		font-size: 25.6px;
		margin-top: 17px;

		.small {
			font-size: 16px;
		}

		.middle {
			font-size: 19.2px;
		}
	}

	.box {

		.item {
			width: 130px;

			&:first-of-type,
			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(5),
			&:nth-of-type(6) {
				margin-right: 8%;
			}

			.txt {

				h3 {
					font-size: 16px;
				}

				p {
					font-size: 23px;

					.small {
						font-size: 11px;
					}
				}
			}
		}
	}

	.note {
		font-size: 12px;

		p {
			padding: 3px 0 0 5px;
		}
	}
}

.lower_common04 {
	
	.center_txt {
		font-size: 19.2px;
	}
	
	.box {
		gap: 35.5px 40.2px;

		.item {

			.txt {
				margin-top: 20.8px;

				h3 {
					font-size: 17px;
				}
	
				ul {
					margin-top: 10.4px;
					
					li {
						font-size: 13px;
					}
				}
			}
		}
	}
}

.lower_common05 {

	// h3 {
	// 	font-size: 19.2px;
	// 	line-height: 1.6;
	// 	margin: 40px 0 25.6px;
	// }

	p {
		font-size: 16px;
	}

	// figure {
	// 	margin-top: 27.2px;
	// }
}

.lower_common06 {

	.box {

		.item {

			.question {
				padding: 20px;

				.letter {
					width: 40px;
					min-width: 40px;
					height: 40px;
					min-height: 40px;
					font-size: 15.36px;
				}

				h3 {
					font-size: 15.36px;
				}

				.arrow {
					top: 50%;
					right: 25px;

					svg {
						width: 15.2px;
					}
				}
			}

			.answer {

				.answer_inner {
					padding: 17.6px 20px 40px;
				}

				.letter {
					width: 40px;
					min-width: 40px;
					height: 40px;
					min-height: 40px;
					font-size: 15.36px;
					margin-right: 23px;
				}

				.p_wrap {
					font-size: 15.36px;

					.case_list {
						margin-top: 30.4px;
					}
				}
			}
		}
	}

	.note {
		font-size: 12px;

		p {
			padding: 3px 0 0 5px;
		}
	}
}
/*///////////////////////////////////////////////////
//
//            ▼ デイリーランナー保険01 ▼
//
///////////////////////////////////////////////////*/

.daily_runner01 {

	&::before {
		transform: translate(-60.4%, 0);
	}

	.lower_mv_inner {

		figure {
			width: 128px;
			top: 25px;
			right: -20px;
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ デイリーランナー保険04 ▼
//
///////////////////////////////////////////////////*/

.daily_runner04 {

	h3 {
		font-size: 20px;
	}

	.box {

		.txt {
			padding-right: 24px;

			h4 {
				font-size: 20px;
			}

			p {
				font-size: 15px;
				margin-top: 33px;
			}
		}

		.img_wrap {
			padding-left: 24px;

			figure {

				&:first-of-type {
					margin-bottom: 33px;
				}
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ イベントランナー保険01 ▼
//
///////////////////////////////////////////////////*/

.event_runner01 {

	&::before {
		left: 500px;
		background-position: right center;
	}

	.lower_mv_inner {

		figure {
			width: 279px;
			top: 36px;
			left: -27px;
		}

		.txt {
			p {
				margin-top: 5px;
			}

			h1 {

				.en {
					margin-top: -7px;

					svg {
						width: 590px;
					}
				}
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ イベントランナー保険04 ▼
//
///////////////////////////////////////////////////*/

.event_runner04 {

	.box {

		.item {
			width: 30%;

			&:first-of-type,
			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(4) {
				margin-right: 0;
			}

			&:nth-of-type(5) {
				margin-right: 0;
			}

			.txt {

				h3 {
					font-size: 15px;
				}
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ イベントランナー保険06 ▼
//
///////////////////////////////////////////////////*/

.event_runner06 {
	
	// h3 {
	// 	font-size: 19.2px;
	// }

	.center_txt {
		font-size: 16px;
	}

	.box {

		.box_inner {

			.left {

				h3 {
					font-size: 15px;
				}

				p {
					font-size: 10px;
				}
			}

			.right {

				.right_inner {

					.item {
	
						.txt {
							padding: 7px 12px;
							border: 3px solid #001e62;
	
							&::before {
								bottom: -22px;
								margin-left: -11px;
								border: 11px solid transparent;
								border-top: 12px solid #fffeff;
							}
	
							&::after {
								bottom: -29px;
							}
	
							h4 {
								font-size: 10px;
							}
						}
	
						.circle {
							width: 6px;
							height: 6px;
							margin: 28px auto 18px;
	
							&::before,
							&::after {
								width: 6px;
								height: 6px;
								border-radius: 50%;
								background: #001e62;
								left: 0;
								content: "";
							}
							&::before {
								top: -12px;
							}
	
							&::after {
								top: 12px;
							}
						}
					}
				}

				.period {
					font-size: 16px;
					bottom: 4px;
				}
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ 大会向けページ 01 ▼
//
///////////////////////////////////////////////////*/

.convention01 {

	.mv {
		position: relative;
		height: 380px;

		.txt {
			padding-top: 64px;

			h2 {
				font-size: 35px;

				.en {
					font-size: 120px;
				}
			}

			p {
				font-size: 25px;
				margin-top: 35px;
			}
		}

		figure {
			width: auto;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			animation: fadeUp 1.5s ease 0s 1 both;
			img {
				width: auto;
				height: 100%;
				aspect-ratio: 1920 / 510;
				object-fit: cover;

			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ 大会向けページ 02 ▼
//
///////////////////////////////////////////////////*/

.convention02 {
	margin-top: 60px;

	h2 {
		font-size: 45px;
	}

	p {
		font-size: 18px;
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ 大会向けページ 03 ▼
//
///////////////////////////////////////////////////*/

.convention03 {
	margin-top: 40px;

	.contents_inner {
		width: 100%;
	}

	h2 {
		font-size: 25px;
		text-decoration-thickness: 2px;
	}

	.contents01 {
		margin-top: 30px;
		padding-bottom: 35px;
	}

	.ttl_sub {
		font-size: 20px;
		text-decoration-thickness: 1px;
	}

	.box {
		margin-top: 30px;
		column-gap: 15px;
	}

	.item {
		padding: 15px 10px;

		h4 {
			font-size: 16px;
		}

		.txt {
			font-size: 15px;

			li {

				&::before {
					font-size: 15px;
				}
			}
		}
	}

	.content {

		.txt_line {
			font-size: 18px;
		}

		th,td {
			padding: 4px 10px 3px;
			font-size: 18px;
	}
	.list {
		font-size: 15px;
	}
	}

	.txt_bg_gray {
		padding: 20px 45px;
		p {
			font-size: 24px;
		}
		ul li {
			font-size: 20px;
		}
	}

	.contents01 figure {
		margin-top: -5px;
	}

	.contents02 {
		.txt {
			margin-top: 30px;
			font-size: 18px;
		}
		figure {
			margin-top: 15px;
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ 大会向けページ 04 ▼
//
///////////////////////////////////////////////////*/

.convention04 {
	margin-top: 40px;

	h2 {
		font-size: 25px;
		text-decoration-thickness: 2px;
	}

	.ttl_sub {
		font-size: 20px;
		text-decoration-thickness: 1px;
	}

	.txt {
		max-width: 1080px;
		margin: 30px auto 0;
		p {
			font-size: 18px;
		}
	}

	.content {

		h4 {
			font-size: 18px;
			display: flex;
			column-gap: 8px;
			&::before {
				width: 10px;
				height: 10px;
			}
		}

		.txt_box {
			padding: 15px 20px;
			margin-top: 15px;
			ul {
				li {
					column-gap: 8px;
					font-size: 18px;
					&::before {
						width: 10px;
						height: 10px;
						margin-top: 14px;
						flex-shrink: 0;
					}
					& + li {
						margin-top: 10px;
					}
				}
			}
			p {
				font-size: 18px;
			}
		}

		.cv_btn {
			margin: 44px auto 0;
			width: 450px;
			height: 73px;
			border-radius: 28px;
			a {
				line-height: 1.5;
				font-size: 16px;
				text-align: center;
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ 大会向けページ 05 ▼
//
///////////////////////////////////////////////////*/

.convention05 {
	margin-top: 40px;

	h2 {
		font-size: 25px;
		text-decoration-thickness: 2px;
	}

	.ttl_sub {
		font-size: 20px;
		text-decoration-thickness: 1px;
	}

	.txt {
		p {
			font-size: 18px;
		}
	}

	.content {

		h4 {
			font-size: 18px;
			display: flex;
			column-gap: 8px;
			&::before {
				width: 10px;
				height: 10px;
			}
		}

		.txt_box {
			padding: 15px 20px;
			margin-top: 15px;
			ul {
				column-gap: 25px;
				& + ul {
					margin-top: 10px;
				}
				li {
					font-size: 15px;
					&::before {
						width: 8px;
						height: 8px;
						margin-top: 12px;
						flex-shrink: 0;
					}
				}
			}
			p {
				font-size: 15px;
			}
		}

		.content_txt {
			margin-top: 20px;
			p {
				font-size: 16px;
			}
		}
	}
}

/*///////////////////////////////////////////////////
//
//            ▼ 大会向けページ 06 ▼
//
///////////////////////////////////////////////////*/

.convention06 {
	margin-top: 40px;

	h2 {
		font-size: 25px;
		text-decoration-thickness: 2px;
	}

	.plan {
		margin-top: 0;
	}

		.lists {
			margin-top: 48px;
			li {
				font-size: 19px;
				span {
					font-size: 16px;
				}
			}
		}
		.address {
			p {
				font-size: 16px;
	
				span {
					font-size: 19px;
				}
			}
		}
		.txt {
			margin-top: 44px;
			p {
				font-size: 30px;
				font-weight: bold;
				text-align: center;
			}
		}
		.cv_btn {
			margin: 44px auto 0;
			width: 450px;
			height: 56px;
			border-radius: 28px;
			a {
				font-size: 16px;
			}
		}
		.box {
			padding: 50px 0 52px;
	
			p {
				font-size: 18px;
			}
		}
		.right_txt {
			p {
				font-size: 16px;
			}
		}
	}
